@import"https://fonts.google.com/specimen/Roboto";
@import"https://fonts.google.com/specimen/Work+Sans";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px
}

body .Feed_Sub .dev .Text_feed,
body .Feed_Sub .dev,
body .Feed_Sub,
body main .main_content .portion_main .Happy_customer .Rating,
body main .main_content .portion_main .Customers,
body main .main_content,
body main,
body .header {
    display: flex
}

body footer,
body .Declaration1,
body .section_1,
body .header nav,
body .header .icon .logo_text,
body .header .icon {
    display: flex;
    justify-content: center;
    align-items: center
}

body .section_1,
body main .main_content .portion_main .Happy_customer .Rating p,
body main .main_content .portion_main .Happy_customer h3,
body main .main_content .portion_main .main_text h1,
body .header nav,
body footer .btn,
body main .main_content .portion_main button,
body .header button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem
}

body footer .btn,
body main .main_content .portion_main button,
body .header button {
    width: 25rem;
    height: 7rem;
    background-color: #7eb685;
    border: none;
    border-radius: 5rem;
    color: #fff
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eff6f0;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

body .header {
    justify-content: space-between;
    align-items: center;
    width: 80%
}

body .header .icon img {
    width: 10em;
    margin-right: 1rem
}

body .header .icon .logo_text {
    color: #7eb685
}

body .header .icon .logo_text .food {
    margin: .5rem
}

body .header .icon .logo_text .savor {
    color: #000
}

body .header nav {
    height: 7rem;
    background-color: #7eb685;
    margin: 4rem;
    border-radius: 2rem;
    color: #fff
}

body .header nav a,
body .header nav p {
    margin: 3rem;
    text-decoration: none;
    color: #fff
}

body .header button {
    width: 35rem
}

body main {
    margin-top: 10rem;
    width: 100%
}

body main .main_content {
    justify-content: space-between;
    max-width: 60%;
    align-items: center
}

body main .main_content .portion_main {
    margin-left: 10rem
}

body main .main_content .portion_main .main_text h1 {
    width: 60rem;
    font-size: 7rem
}

body main .main_content .portion_main .main_text ins {
    text-decoration: none;
    color: #7eb685
}

body main .main_content .portion_main .main_text p {
    width: 21.5em;
    font-size: 1.5em;
    margin-right: 2em;
    text-align: left
}

body main .main_content .portion_main button {
    margin-top: 1em;
    margin-bottom: 1em
}

body main .main_content .portion_main .Customers .Customer_images {
    position: relative
}

body main .main_content .portion_main .Customers .Customer_images img {
    width: 6rem
}

body main .main_content .portion_main .Customers .Customer_images .Cus_image2 {
    position: relative;
    right: 1.6rem
}

body main .main_content .portion_main .Customers .Customer_images .Cus_image3 {
    position: relative;
    right: 3.2rem
}

body main .main_content .portion_main .Happy_customer h3 {
    font-size: 2rem
}

body main .main_content .portion_main .Happy_customer .Rating img {
    width: 3rem;
    margin-right: .5rem
}

body main .main_content .portion_main .Happy_customer .Rating p {
    font-size: 2rem;
    color: #6e716e
}

body main .main_content .front_images {
    width: 60%;
    position: relative
}

body main .main_content .front_images .Circle {
    width: 40rem;
    position: absolute;
    top: -5rem;
    left: 25rem;
    z-index: 1
}

body main .main_content .front_images .front_pic {
    width: 40rem;
    position: relative;
    top: -5rem;
    left: 25rem;
    z-index: 2
}

body .section_1 {
    margin-top: 10rem;
    flex-direction: column;
    font-family: "open sans";
    font-weight: normal
}

body .section_1 .sub_section1 .imagez {
    width: 30rem;
    background-color: #deede0;
    padding: 3rem;
    border-radius: 3rem;
    margin: 3rem
}

body .Declaration1 {
    margin-top: 10rem;
    flex-direction: column;
    text-align: center
}

body .Declaration1 p {
    color: #7eb685;
    font-size: 2rem;
    margin-bottom: 1rem
}

body .Declaration1 h1 {
    font-family: "work sans", sans-serif;
    width: 40rem;
    font-size: 3rem
}

body .Feed_Sub {
    text-align: center
}

body .Feed_Sub .dev {
    font-family: "work sans", sans-serif;
    width: 30rem;
    height: 30rem;
    padding: 3.3rem;
    text-align: left;
    background-color: #deede0;
    margin: 3rem;
    border-radius: 3rem;
    margin-top: 3rem;
    flex-direction: column
}

body .Feed_Sub .dev .Text_feed {
    height: 40rem;
    flex-direction: column;
    justify-content: space-between
}

body .Feed_Sub .dev .Text_feed p {
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 1rem
}

body .Feed_Sub .dev .Text_feed .star_rating img {
    width: 2rem;
    margin: .5rem
}

body .Feed_Sub .dev .Text_feed .star_rating b {
    font-family: "work sans", sans-serif;
    font-size: 1.8rem
}

body .Feed_Sub .dev .commas {
    color: #7eb685;
    font-size: 9rem;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -3rem;
    right: 3rem
}

body footer {
    justify-content: space-evenly;
    background-color: #fff;
    width: 70%;
    height: 10rem;
    margin: 3rem 0;
    padding: 1rem;
    border-radius: 1rem;
    font-family: "roboto", sans-serif
}

body footer .btn {
    margin-top: 1rem;
    margin-bottom: 1rem
}

@media only screen and (min-width: 200px) {
    :root {
        font-size: .7vw
    }
}

/*# sourceMappingURL=style.css.map */