// how to import front from google fonts
@import url('https://fonts.google.com/specimen/Roboto');
@import url('https://fonts.google.com/specimen/Work+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}
:root{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
%flex{
    display: flex;
}
%flex1{
    display: flex;
    justify-content: center;
}
%flex2{
    display: flex;
    justify-content: center; 
    align-items: center;
}
%textfont{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
$Whitecolor: #FFFFFF;
$GreenColor: #7EB685;


%button{
    width: 10em;
    height: 3em;
    background-color: $GreenColor;
    border: none;;
    border-radius: 5em;
    @extend %textfont;
    color: $Whitecolor;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFF6F0;
    margin: 2rem;

.header{
    // border: 2px solid red;
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    .icon{
        @extend %flex2;
        img{
            width: 5em;
            // height: 5em;
            margin-right : 1em;
        }
        .logo_text{
                @extend %flex2;
                // font-weight: 2em;
                color: #7EB685;
                // margin-right: 1em;
                .food{
                    margin: 0.2em;
                }
                .savor{
                    color: black;
                }
        }
    }
    nav{
        @extend %flex2;
        height: 3em;
        background-color: #7EB685;
        margin: 1em;
        border-radius: 1em;
        @extend %textfont;
        // line-height: 0.5em;

        color: $Whitecolor;
        a, p{
            margin: 2em;
            text-decoration: none;
            color: $Whitecolor;
        }
        
    }
    button{
        @extend %button;


    }
    

}
main{
    @extend %flex;
    border: 2px solid red;
    @extend %flex;
    justify-content: space-between;
    margin: 0;
    // width: 45rem;
    margin: 5em;      
    .portion_main{
        border: 2px solid red;

        .main_text{
            width: 40rem;
            h1{
                width:60rem;
                @extend %textfont;
                font-size: 10em;
                // line-height: 94px;
            }
            ins{
                text-decoration: none;
                color: $GreenColor;
                
            }
            p{                
                width: 21.5em;
                font-size: 1.5em;
                // margin-left: 1em;
                margin-right: 2em;
                text-align: left;
            }
        }
        
        button{
            @extend %button;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .Customers{
            @extend %flex;

            .Customer_images{
                border: 2px solid red;
                position: relative;

                .Cus_image1{
                    position: relative;
                    left: 0;
                    right: 20em;
                }
                .Cus_image2{
                    position: relative;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .front_images{

        position: relative;
        // how to overlap two images over each other
        border: 2px red solid;
        .Circle{
            position: absolute;
            // position: left;
            // width: 50em;
            top: 10em;
            left: 10em;
            right: 0;
            z-index: 1;
        }
        .front_pic{
            width: 50em;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
        
    }
    // img{
    //     width: ;
    // }
}

}