// how to import front from google fonts
@import url('https://fonts.google.com/specimen/Roboto');
@import url('https://fonts.google.com/specimen/Work+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}
:root{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
%flex{
    display: flex;
}
%flex1{
    display: flex;
    justify-content: center;
}
%flex2{
    display: flex;
    justify-content: center; 
    align-items: center;
}
%textfont{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
$Whitecolor: #FFFFFF;
$GreenColor: #7EB685;
$GreenColor2:#DEEDE0;


%button{
    width: 10em;
    height: 3em;
    background-color: $GreenColor;
    border: none;;
    border-radius: 5em;
    @extend %textfont;
    color: $Whitecolor;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFF6F0;
    margin: 2rem;
    // how to center in the body
     display : flex;
     flex-direction: column;
    //  justify-content: center;
     align-items: center;
.header{
    // border: 2px solid red;
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    // border: 2px solid red;
    .icon{
        @extend %flex2;
        img{
            width: 5em;
            // height: 5em;
            margin-right : 1em;
        }
        .logo_text{
                @extend %flex2;
                // font-weight: 2em;
                color: #7EB685;
                // margin-right: 1em;
                .food{
                    margin: 0.2em;
                }
                .savor{
                    color: black;
                }
        }
    }
    nav{
        @extend %flex2;
        height: 3em;
        background-color: #7EB685;
        margin: 1em;
        border-radius: 1em;
        @extend %textfont;
        // line-height: 0.5em;

        color: $Whitecolor;
        a, p{
            margin: 2em;
            text-decoration: none;
            color: $Whitecolor;
        }
        
    }
    button{
        @extend %button;


    }
    

}
main{
    @extend %flex;
    // border: 2px solid purple;
         
    width: 100%;
    .main_content{
        @extend %flex;
        justify-content: space-between;
        max-width: 60%;
        align-items: center;
        .portion_main{
            // border: 2px solid red;
            margin-left: 5rem;
            .main_text{
            // border: 2px solid red;

                // width: 0%;
                h1{
                    width:60rem;
                    @extend %textfont;
                    font-size: 7rem;
                    // line-height: 94px;
                }
                ins{
                    text-decoration: none;
                    color: $GreenColor;
                    
                }
                p{                
                    width: 21.5em;
                    font-size: 1.5em;
                    // margin-left: 1em;
                    margin-right: 2em;
                    text-align: left;
                }
            }
            
            button{
                @extend %button;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .Customers{
                @extend %flex;
                .Customer_images{
                    position: relative;
                    .Cus_image2{
                        position: relative;
    
                        right: 1.6rem;
                    }
                    .Cus_image3{
                        position: relative;
                        right: 3.2rem;
                    }
    
                }
            }
            .Happy_customer{
                h4{
                    @extend %textfont;
    
                }
                .Rating{
    
                    @extend %flex;
                    img{
                        width: 1rem;
                        margin-right: 0.5rem;
                    }
                    p{
                        @extend %textfont;
                        font-size: 1.2rem;
                        color: #6E716E;
    
                    }
                }
            }
        }
        

        .front_images{
            width: 60%;
            // height: 80%;
            position: relative;
            // how to overlap two images over each other
            // border: 2px red solid;
            .Circle{
                width: 40rem;
                position: absolute;
                
                top: 1em;
                left: 1rem;
                right: 5;
                z-index: 1;
            }
            .front_pic{
                width: 40rem;
                position: relative;
                top: 0;
                left: 0;
                right: 5rem;
                z-index: 2;
            }
            
        }

    }
   
    
}

.section_1{
    margin-top: 5rem;
    // text-align: center;
    @extend %flex2;
    flex-direction: column;

    @extend %textfont;
    font-family: 'open sans';
   
    .sub_section1{
        
        .imagez{
            background-color: $GreenColor2;
            padding: 3rem;
            border-radius: 3rem;
            margin: 3rem;
        }
    }
    }

}
.Declaration1{
    text-align: center;
    p{
        color: $GreenColor;
        font-size: 2rem;
        margin-bottom: 1rem;


    }
    h1{
        font-family: 'work sans', sans-serif;
        width: 40rem;
        font-size: 3rem;

    }   
    
}
// .section_2{
//     border: 2px solid red;
.Feed_Sub{
    @extend %flex;
    border: 2px solid red;

    

    text-align: center;
    .dev{
        font-family: 'work sans', sans-serif;
        // font-family: 'roboto', sans-serif;

        width: 25rem;
        height: 25rem;
        font-size: 2.2rem;
        font-weight: normal;
        // align-items: center;
        padding: 3rem;
        text-align: left;

        background-color: $GreenColor2;
        // width: 20rem;
        margin: 3rem;
        border-radius: 3rem;
        b{
            font-family: 'work sans', sans-serif;
            // font-family: 'roboto', sans-serif;
            font-size: 1.8rem;
            // margin-bottom: 1rem;
        }
    }
    .cus1_feedback{
        justify-content: center;
    }
}

// }