// how to import front from google fonts
@import url('https://fonts.google.com/specimen/Roboto');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}
%flex{
    display: flex;
}
%flex1{
    display: flex;
    justify-content: center;
}
%flex2{
    display: flex;
    justify-content: center; 
    align-items: center;
}
%textfont{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
$Whitecolor: #FFFFFF;
$GreenColor: #7EB685;


%button{
    width: 10em;
    height: 3em;
    background-color: $GreenColor;
    border: none;;
    border-radius: 5em;
    @extend %textfont;
    color: $Whitecolor;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFF6F0;

.header{
    border: 2px solid red;
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    .icon{
        @extend %flex2;
        img{
            width: 5em;
            // height: 5em;
            margin-right : 1em;
        }
        .logo_text{
                @extend %flex2;
                // font-weight: 2em;
                color: #7EB685;
                // margin-right: 1em;
                .food{
                    margin: 0.2em;
                }
                .savor{
                    color: black;
                }
        }
    }
    nav{
        @extend %flex2;
        height: 3em;
        background-color: #7EB685;
        margin: 1em;
        border-radius: 1em;
        @extend %textfont;
        // line-height: 0.5em;

        color: $Whitecolor;
        a, p{
            margin: 2em;
            text-decoration: none;
            color: $Whitecolor;
        }
        
    }
    button{
        @extend %button;


    }
    

}
main{
    @extend %flex;
    border: 2px solid red;
    .portion_main{

        .main_text{
            h1{
                font-weight: 10rem;
                margin-bottom: 2em;
            }
        }
        button{
            @extend %button;
            margin-top: 2em;
        }
    }
    
}
.section_1{

}
}