@import url('https://fonts.google.com/specimen/Roboto');
@import url('https://fonts.google.com/specimen/Work+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}
:root{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
%flex{
    display: flex;
}
%flex1{
    display: flex;
    justify-content: center;
}
%flex2{
    display: flex;
    justify-content: center; 
    align-items: center;
}
%textfont{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}
$Whitecolor: #FFFFFF;
$GreenColor: #7EB685;
$GreenColor2:#DEEDE0;


%button{
    width: 20rem;
    height: 7rem;
    background-color: $GreenColor;
    border: none;;
    border-radius: 5rem;
    @extend %textfont;
    color: $Whitecolor;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFF6F0;
    margin: 2rem;
    display : flex;
    flex-direction: column;
    align-items: center;
.header{
    // border: 2px solid red;
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    // border: 2px solid red;
    .icon{
        @extend %flex2;
        img{
            width: 10rem;
            // height: 5em;
            margin-right : 1rem;
        }
        .logo_text{
                @extend %flex2;
                font-size: 2rem;
                // font-weight: 2em;
                color: #7EB685;
                // margin-right: 1em;
                .food{
                    margin: 0.5rem;
                }
                .savor{
                    color: black;
                }
        }
    }
    nav{
        @extend %flex2;
        height: 7rem;
        background-color: #7EB685;
        margin: 4rem;
        border-radius: 2rem;
        @extend %textfont;
        // font-size: 3rem;
        // line-height: 0.5em;

        color: $Whitecolor;
        a, p{
            margin: 3rem;
            text-decoration: none;
            color: $Whitecolor;
        }
        
    }

    button{
        @extend %button;

        font-size: 3rem;


    }
    

}
main{
    @extend %flex;
    // border: 2px solid purple;
    margin-top: 10rem;
    width: 100%;
    .main_content{
        @extend %flex;
        justify-content: space-between;
        max-width: 60%;
        align-items: center;
        .portion_main{
            // border: 2px solid red;
            margin-left: 10rem;
            .main_text{
            // border: 2px solid red;

                // width: 0%;
                h1{
                    width:60rem;
                    @extend %textfont;
                    font-size: 7rem;
                    // line-height: 94px;
                }
                ins{
                    text-decoration: none;
                    color: $GreenColor;
                    
                }
                p{                
                    width: 21.5em;
                    font-size: 1.5em;
                    // margin-left: 1em;
                    margin-right: 2em;
                    text-align: left;
                }
            }
            
            button{
                @extend %button;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .Customers{
                @extend %flex;
                .Customer_images{
                    img{
                        width: 6rem;
                    }
                    position: relative;
                    .Cus_image2{
                        position: relative;
    
                        right: 1.6rem;
                    }
                    .Cus_image3{
                        position: relative;
                        right: 3.2rem;
                    }
    
                }
            }
            .Happy_customer{
                h3{
                    @extend %textfont;
                    font-size: 2rem;
    
                }
                .Rating{
    
                    @extend %flex;
                    img{
                        width: 3rem;
                        margin-right: 0.5rem;
                    }
                    p{
                        @extend %textfont;
                        font-size: 2rem;
                        color: #6E716E;
    
                    }
                }
            }
        }
        

        .front_images{
            width: 60%;
            position: relative;
            
            .Circle{
                width: 40rem;
                position: absolute;
                
                top: -5rem;
                left: 25rem;
                z-index: 1;
            }
            .front_pic{
                width: 40rem;
                position: relative;
                top: -5rem;
                left: 25rem;
                z-index: 2;
            }
            
        }

    }
   
    
}

.section_1{
    margin-top: 10rem;
    // text-align: center;
    @extend %flex2;
    flex-direction: column;

    @extend %textfont;
    font-family: 'open sans';
    font-weight: normal;
   
    .sub_section1{
        @extend %flex;
        text-align: center;
        align-items: center;
        .imagez{
            width: 40rem;
            background-color: $GreenColor2;
            padding: 3rem;
            border-radius: 3rem;
            margin: 3rem;
        }
        img{
            width: 30rem;

        }
    }
    }

.Declaration1{
    @extend %flex2;
    margin-top: 10rem;
    flex-direction: column;
    text-align: center;
    // border: 2px solid purple;

    p{
        color: $GreenColor;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    h1{
        font-family: 'work sans', sans-serif;
        width: 40rem;
        font-size: 3rem;
        // border: 2px solid red;

    }   
    
}


.Feed_Sub{
    @extend %flex;
    // border: 2px solid red;
    // margin-top: 10rem;
    text-align: center;
    .dev{
        font-family: 'work sans', sans-serif;
        width: 30rem;
        height: 30rem;

        padding: 3.3rem;
        text-align: left;
        background-color: $GreenColor2;
        margin: 3rem;
        border-radius: 3rem;
        margin-top: 3rem;
        @extend %flex;
        flex-direction: column;
        
        .Text_feed{
            height: 40rem;
            // border: 2px solid red;

            @extend %flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                font-size: 2.2rem;
                font-weight: normal;
                margin-bottom: 1rem;
                margin-top: 3rem;
            }
            .star_rating{
                // margin-top: 1.5rem;
                img{
                    
                    width: 2rem;
                    margin: 0.5rem;
                }

                b{
                    font-family: 'work sans', sans-serif;
                    font-size: 1.8rem;
                }
            }
        }
        .commas{
            color: $GreenColor;
            font-size: 9rem;
            width: 1rem;
            height: 1rem;
            position: relative;
            top: -2rem;
            right: 2rem;
            // border: 2px solid red;
        }
    }
    
}
footer{
    @extend %flex2;
    justify-content: space-evenly;
    background-color: white;
    width: 70%;
    height: 10rem;
     margin: 3rem 0;
     padding: 1rem;
     border-radius: 1rem;
     font-family: 'roboto', sans-serif;
    .btn{
        @extend %button;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

}
// Scalling was applied to this project, because responsive design was not available
@media only screen and (min-width:200px){
    :root{
        font-size: 0.7vw
    }
}

